.course-list-item {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 10px;
    width: auto;
    margin: 20px 20px 20px 20px;
    border-bottom: 2px solid #979797;

    

    h3 {

        margin-left: 25px;
        margin-bottom: 0px;
        color: #4a4a4a;
    }
}

.course-list-item:hover  {
    border-color: #32c32f;
    transform: scale(1.02);
    transition: .5s;
}

.course-list-item-link {
    text-decoration: none;
}