.admin-courses-list-screen-content-container {
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding: 15px;
}

.admin-course-list-screen-link {
    text-decoration: none;
}