// @import '/frontend/src/styles/utilities/variables' ;

@import './utilities/variables.scss';

@import './components/ScoreFormInput/ScoreFormInput' ;
@import './components/Header/Header' ;
@import './components/HeaderAdmin/HeaderAdmin.scss';
@import './components/AdminSideHeader/AdminSideHeader.scss';
@import './components/Title/Title' ;
@import './components/StatCard/StatCard';
@import './components/CourseBooker/CourseBooker';
@import './components/EditHoleCard/EditHoleCard';
@import './components/CourseListItem/CourseListItem';
@import './components/TeeListItem/TeeListItem';
@import './components/AdminListItem/AdminListItem';
@import './components/AdminUserListItem/AdminUserListItem';
@import './components/AdminUserProfileInput/AdminUserProfileInput';
@import './components/AdminGolfCourseListItem/AdminGolfCourseListItem';
@import './components/EditTeeBoxes/EditTeeBoxes.scss';
@import './components/EditHoles/EditHoles.scss';
@import './components/EditTees/EditTees.scss';
@import './components/SideHeader/SideHeader.scss';
@import './components/ScoreCardInputTable/ScoreCardInputTable.scss';

@import './screens/AdminCourseHoleDetailsScreen/AdminCourseHoleDetailsScreen' ;

@import './screens/AdminScreen/AdminScreen';
@import './screens/AdminUserListScreen/AdminUserListScreen';
@import './screens/AdminUserProfileScreen/AdminUserProfileScreen';
@import './screens/AdminGolfCourseListScreen/AdminGolfCourseListScreen';
@import './screens/AdminCourseInfoScreen/AdminCourseInfoScreen.scss';

@import './screens/LoginScreen/LoginScreen.scss';
@import './screens/RegisterScreen/RegisterScreen.scss';
@import './screens/PlayGolfScreen/PlayGolfScreen';
@import './screens/SelectTeeScreen/SelectTeeScreen';
@import './screens/EnterScoreScreen/EnterScoreScreen';

@import './utilities/Forms/FormOne/FormOne';
@import './utilities/Tables/TableOne/TableOne';
@import './utilities/Forms/FormOneInput/FormOneInput.scss';

@import './utilities/Buttons/ButtonOne/ButtonOne.scss';
@import './utilities/Buttons/ButtonStyleTwo/ButtonStyleTwo.scss';
@import './utilities/Buttons/ButtonAddNew/ButtonAddNew.scss';
@import './utilities/Buttons/ButtonStyleThree/ButtonStyleThree.scss';
@import './utilities/Buttons/ScoreButton/ScoreButton.scss';
@import './utilities/Buttons/PuttButton/PuttButton.scss';
@import './utilities/Buttons/FairwayButton/FairwayButton.scss';


@import './utilities/Tables/TableStyleOne/TableStyleOne.scss';


// APP CONTENT
.background {
    background-color: #f2f2f2;
}

.user-container {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    height: 90vh;
    background-color: #fcfcfc;
}

.user-content-container {
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 150px;
    margin-right: 15px;
    padding: 15px;
    width: 100%;
}

.user-content-container-style {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #b2b2b2;
}

.screen-container {
    height: 80vh;
    width: 100vw;
}

.content-container {
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    
}
.login-screen-container {
    display: flex;
    justify-content: center;
    height: 90vh;

}
.register-screen-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}




.screen-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.page-title {
    width: auto;
}

.center-items-column {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.item-container-style {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #b2b2b2;
}

// END APP CONTENT

// PLAYER SCREEN

.player-screen-link {
    text-decoration: none;
    color: black;
}

.player-screen-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player-screen-box-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #b2b2b2;
}

.player-stats-contanier {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        text-align: center;
        font-weight: bolder;
    }
}

.player-friends-contanier {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        text-align: center;
        font-weight: bolder;
    }
}

// END PLAYER SCREEN

// FRIEND LIST SCREEN
.friendlist-screen-row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.friendlist-screen-box-container {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #b2b2b2;
}

.friendlist-stats-contanier {
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    p {
        text-align: center;
        font-weight: bolder;
    }
}


// END FRIEND LIST SCREEN