.header-user {
  width: 100vw;
  height: 10vh;
  background-color: #1f9b30;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  position: fixed;
  top: 0;
}

.header-user-container {
  display: flex;
}
.header-user-container p {
  padding-bottom: 0;
}

.header-user {
  margin-right: 10px;
}

.header-admin {
  width: 100vw;
  height: 10vh;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  position: fixed;
  top: 0;
}

.header-admin-user-container {
  display: flex;
}
.header-admin-user-container p {
  padding-bottom: 0;
}

.header-admin-user {
  margin-right: 10px;
}

.admin-side-header {
  background-color: black;
  width: 150px;
  height: 90vh;
  position: fixed;
  left: 0;
}

.admin-side-header-button {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.admin-side-header-button p {
  color: rgb(188, 188, 188);
  text-align: center;
  margin-bottom: 0;
}

.admin-side-header-button:hover {
  cursor: pointer;
}
.admin-side-header-button:hover p {
  color: white;
  text-align: center;
}

.admin-side-header-active {
  background-color: #1c1c21;
}
.admin-side-header-active p {
  color: white;
}

.admin-side-header-link {
  text-decoration: none;
}

.title-card {
  background-color: white;
  opacity: 0.9;
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 0.2rem;
  border-radius: 0.5rem;
  padding: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.stat-card {
  background-color: white;
  max-width: 35vh;
  width: 35vh;
  min-height: 15vh;
  padding: 20px;
  background-color: white;
  opacity: 0.9;
  border-radius: 0.5rem;
  margin: 15px;
}
.stat-card h5 {
  text-align: center;
}
.stat-card h3 {
  text-align: center;
}

.course-booker-card {
  width: 18rem;
  margin-bottom: 2rem;
  margin-left: 15px;
}

.edit-hole-card {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 15px;
  width: 200px;
}
.edit-hole-card input {
  width: 80px;
}

.input-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.course-list-item {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  width: auto;
  margin-bottom: 20px;
  border-bottom: 2px solid #979797;
}
.course-list-item h3 {
  margin-left: 25px;
  margin-bottom: 0px;
  color: #4a4a4a;
}

.course-list-item:hover {
  border-color: #32c32f;
  transition: 0.5s;
}

.course-list-item-link {
  text-decoration: none;
}

.tee-list-item-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  width: auto;
  margin: 20px 20px 20px 20px;
  border-bottom: 2px solid #979797;
}
.tee-list-item-container h3 {
  margin: 0;
  width: 40vw;
}
.tee-list-item-container p {
  margin-bottom: 0;
}

.tee-list-item-container:hover {
  border-color: #32c32f;
  transform: scale(1.02);
  transition: 0.5s;
}

.tee-list-item-container-link {
  text-decoration: none;
  color: black;
}

.admin-list-item {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  width: auto;
  margin: 20px 20px 20px 20px;
  border-bottom: 2px solid #979797;
}

.admin-list-item:hover {
  border-color: #32c32f;
  transform: scale(1.02);
  transition: 0.5s;
}

.admin-list-item-container-link {
  text-decoration: none;
  color: black;
  width: auto;
}

.admin-user-list-item-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  margin: 40px;
  border-bottom: 2px solid #979797;
}
.admin-user-list-item-container .admin-user-list-item-small {
  width: 50px;
}
.admin-user-list-item-container div {
  width: 20vw;
}
.admin-user-list-item-container div p {
  color: black;
  margin-bottom: 0;
}

.is-header p {
  font-weight: bold;
}

.is-body:hover {
  border-color: #32c32f;
  transition: 0.5s;
}

.admin-user-profile-input-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.admin-user-profile-input-container label {
  margin-bottom: 10px;
}
.admin-user-profile-input-container input {
  padding-left: 15px;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 1px;
}

.admin-course-list-item-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  margin: 40px;
  border-bottom: 2px solid #979797;
  text-decoration: none;
}
.admin-course-list-item-container .admin-course-list-item-small {
  width: 50px;
}
.admin-course-list-item-container div {
  width: 10vw;
}
.admin-course-list-item-container div p {
  color: black;
  margin-bottom: 0;
}

.is-header {
  font-weight: bold;
}

.is-body:hover {
  border-color: #32c32f;
  transition: 0.5s;
}

.admin-course-list-item-header p {
  font-weight: bold;
}

.tee-box-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 500px;
  padding-left: 30px;
  padding-right: 30px;
}

.button-style-three {
  background-color: #3E97FF;
  color: #ffffff;
  outline: 0;
  padding: 0.775rem 1rem;
  border-radius: 0.475rem;
  border: none;
}

.button-style-three:hover {
  background-color: #73b1f7;
}

.admin-holes-edit-form {
  width: 90%;
}

.holes-title p {
  margin-bottom: 0px;
  margin-right: 10px;
  color: #adadb5;
}

.holes-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  border-bottom: 1px dashed #F1F1F2;
}

.holes-buttons-content {
  display: flex;
  flex-wrap: wrap;
}

.holes-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: flex-start;
}
.holes-inputs-container h3 {
  color: #adadb5;
}

.edit-tees-tee-title {
  margin-bottom: 0px;
  font-size: 1.5rem;
  margin-right: 30px;
  color: #adadb5;
}

.edit-tees-table {
  border-collapse: collapse;
}

.edit-tees-row-style td {
  border-bottom: 1px solid #F1F1F2;
}

.user-side-header {
  background-color: #558C03;
  width: 150px;
  height: 90vh;
  position: fixed;
  left: 0;
}

.user-side-header-button {
  height: 50px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-side-header-button p {
  color: rgb(206, 203, 203);
  text-align: center;
  margin-bottom: 0;
}

.user-side-header-button:hover {
  cursor: pointer;
}
.user-side-header-button:hover p {
  color: white;
  text-align: center;
}

.user-side-header-active {
  background-color: #0d4e19;
}
.user-side-header-active p {
  color: rgb(255, 255, 255);
}

.user-side-header-link {
  text-decoration: none;
}

.holeEditForm {
  display: flex;
  flex-wrap: wrap;
}

.admin-screen-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
}

.admin-content-container {
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 150px;
  margin-right: 15px;
  padding: 15px;
  width: 100%;
}

.admin-content-item-container-style {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #b2b2b2;
}

.admin-new-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

.admin-container {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  height: 90vh;
  background-color: #fcfcfc;
}

.admin-user-list-screen-link {
  text-decoration: none;
}

.admin-user-new-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.admin-users-content-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.admin-users-content-container-style {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #b2b2b2;
}

.admin-users-number-of-container {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.admin-users-number-of-container p {
  text-align: center;
  font-weight: bolder;
}

.admin-user-profile-screen-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.admin-user-profile-content-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
}

.admin-user-profile-screen-link {
  text-decoration: none;
}

.admin-user-profile-screen-submit {
  background-color: #32C32F;
  margin-bottom: 25px;
  border: 1px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  align-self: center;
  font-weight: bold;
}

.admin-golf-course-new-row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.admin-course-list {
  width: 95%;
  padding: 10px;
}

.admin-course-list-top-bar {
  justify-content: space-between;
  padding: 1rem 2.25rem;
}

.table-search-bar {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  border-radius: 0.475rem;
  border: none;
  color: #4B5675;
  box-shadow: none;
  padding: 0.775rem 1rem;
}

.table-search-bar:focus {
  background-color: #e9e9e9;
  outline: none;
}

.table-add-course-btn {
  background-color: #3E97FF;
  color: #ffffff;
  outline: 0;
  padding: 0.775rem 1rem;
  border-radius: 0.475rem;
  border: none;
}

.table-add-course-btn:hover {
  background-color: #73b1f7;
}

.admin-course-list-table {
  padding: 0.5rem;
}
.admin-course-list-table table {
  display: table;
  width: 100%;
}
.admin-course-list-table tr {
  display: table-row;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #F1F1F2;
}
.admin-course-list-table thead th {
  color: #cbcbd5;
}
.admin-course-list-table tbody td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #78829d;
}

.admin-golf-course-link {
  text-decoration: none;
}
.admin-golf-course-link p {
  margin-bottom: 0;
  text-decoration: none;
  color: #252F4A;
  font-weight: 600;
}
.admin-golf-course-link p:hover {
  color: #4067e6;
  transition: color 0.2s;
}

.admin-course-list-item {
  margin-bottom: 20px;
}
.admin-course-list-item div {
  width: 25%;
}

.admin-course-list-row {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.admin-golf-course-content-container {
  background-color: #ffffff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 15px;
}

.admin-golf-course-content-container-style {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #b2b2b2;
  padding: 15px;
}

.course-list {
  width: 500px;
}

.admin-scorecard-tee-boxes {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #b2b2b2;
  overflow-x: auto;
}
.admin-scorecard-tee-boxes table {
  width: 100%;
  display: table;
}
.admin-scorecard-tee-boxes table tr {
  display: table-row;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #F1F1F2;
}
.admin-scorecard-tee-boxes thead th {
  padding: 1rem;
  color: #a7a7b0;
}
.admin-scorecard-tee-boxes tbody .table-tee-box-title {
  font-size: larger;
  color: black;
}
.admin-scorecard-tee-boxes tbody .table-tee-box-title:hover {
  cursor: pointer;
}
.admin-scorecard-tee-boxes tbody tr:hover {
  background-color: #f3f3ff;
}
.admin-scorecard-tee-boxes tbody td {
  padding: 1rem;
  color: #707076;
}

.admin-scorecard {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #b2b2b2;
  width: 80vw;
  overflow-x: auto;
}
.admin-scorecard table {
  display: table;
}
.admin-scorecard table tr {
  display: table-row;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #F1F1F2;
}
.admin-scorecard thead th {
  padding: 1rem;
  color: #a7a7b0;
}
.admin-scorecard tbody .table-tee-box-title {
  font-size: larger;
  color: black;
}
.admin-scorecard tbody th {
  padding: 1rem;
  color: #a7a7b0;
}
.admin-scorecard tbody td {
  padding: 1rem;
  color: #707076;
}
.admin-scorecard tbody td:hover {
  background-color: #f3f3ff;
}

.admin-scorecard-click:hover {
  cursor: pointer;
  background-color: #f3f3ff;
}

.admin-scorecard-fixed {
  position: fixed;
}

.admin-course-info-edit-tees-modal {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #b2b2b2;
  position: fixed;
  top: 10%;
  left: 35%;
  display: flex;
  justify-content: center;
}

.add-opacity {
  opacity: 0.5;
}

.form-edit-modal {
  width: 500px;
  opacity: 1;
}

.login-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 600px;
  align-self: center;
  border: 1px solid #979797;
  box-shadow: 2px 2px 8px grey;
}

.login-title-container {
  background-color: #D8D8D8;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.login-title {
  color: #4A4A4A;
}

.login-form {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.login-input-container label {
  margin-bottom: 10px;
}
.login-input-container input {
  padding-left: 15px;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 1px;
}

.login-submit {
  background-color: #32C32F;
  margin-bottom: 25px;
  border: 1px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  align-self: center;
}

.login-link {
  width: 200px;
  align-self: center;
}

.login-create-account {
  background-color: #1F201F;
  color: #BFBFBF;
  margin-bottom: 25px;
  border: 1px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
}

.register-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 600px;
  align-self: center;
  border: 1px solid #979797;
  box-shadow: 2px 2px 8px grey;
}

.register-title-container {
  background-color: #D8D8D8;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.register-title {
  color: #4A4A4A;
}

.register-form {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-input-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.register-input-container label {
  margin-bottom: 10px;
}
.register-input-container input {
  padding-left: 15px;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 1px;
}

.register-create-account {
  background-color: #32C32F;
  margin-bottom: 25px;
  border: 1px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  align-self: center;
}

.register-link {
  width: 200px;
  align-self: center;
}

.play-golf-screen-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
}

.play-golf-screen-title {
  align-self: flex-end;
  text-align: center;
  margin-top: 30px;
}

.play-golf-screen-filter-options {
  display: flex;
  border-bottom: 1px solid grey;
  margin-bottom: 20px;
  padding: 15px;
}

.play-golf-buttons {
  text-align: center;
  width: 5rem;
}
.play-golf-buttons p {
  margin: 0;
}

.play-golf-buttons:hover {
  text-decoration: underline;
  cursor: pointer;
}

.select-tee-screen-title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.select-tee-screen-title-container h3 {
  margin-bottom: 0;
}

.select-tee-screen-back-arrow-container {
  display: flex;
  width: 150px;
  align-items: center;
}
.select-tee-screen-back-arrow-container p {
  margin-left: 10px;
  margin-bottom: 0;
}

.select-tee-link {
  text-decoration: none;
  color: black;
}

.empty-container {
  width: 150px;
}

.form-one-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 80vh;
}

.header-spacer {
  margin-top: 20px;
}

.form-one-content-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
}

.form-one-input-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.form-one-input-container input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.form-one-input-container input:focus {
  outline: none;
}

.form-style-one {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-style-one button {
  margin-top: 20px;
}

.form-table-one {
  width: 90vw;
  background-color: white;
  border-spacing: 100px;
  border-collapse: collapse;
  border-radius: 10px;
}
.form-table-one thead {
  border-bottom: 1px solid black;
  margin-bottom: 20px;
}
.form-table-one thead th {
  padding-bottom: 10px;
}
.form-table-one tbody td {
  padding-top: 20px;
}
.form-table-one tbody td p {
  margin-right: 20px;
  margin-bottom: 0px;
}
.form-table-one tbody td input {
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}
.form-table-one tbody td input:focus {
  outline: none;
  border-bottom: 2px solid green;
}

.hole-rows {
  border-bottom: 2px solid black;
}

.spacer {
  padding-bottom: 30px;
}

.form-style-one-container {
  width: 500px;
}

.form-style-one-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.form-style-one {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.has-float-label {
  display: flex;
  flex-flow: column-reverse;
  margin-bottom: 1em;
  width: 250px;
}
.has-float-label label, .has-float-label input {
  transition: all 0.2s;
}
.has-float-label input {
  font-size: 1.5em;
  border: 0;
  border-bottom: 1px solid #ccc;
  font-family: inherit;
  border-radius: 0;
  padding: 0;
  cursor: text;
}
.has-float-label input:-moz-placeholder-shown {
  position: relative;
  z-index: 1;
  opacity: 0;
}
.has-float-label input:placeholder-shown {
  position: relative;
  z-index: 1;
  opacity: 0;
}
.has-float-label input:focus {
  outline: 0;
  border-bottom: 1px solid #666;
  opacity: 1;
}
.has-float-label label {
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.has-float-label input:-moz-placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}
.has-float-label input:placeholder-shown + label {
  cursor: text;
  max-width: 66.66%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transform-origin: left bottom;
  transform: translate(0, 2.125rem) scale(1.5);
}
.has-float-label ::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: inherit;
  transition: inherit;
}
.has-float-label input:focus::-webkit-input-placeholder {
  opacity: 1;
}
.has-float-label input:not(:-moz-placeholder-shown) + label {
  transform: translate(0, 0) scale(1);
}
.has-float-label input:not(:placeholder-shown) + label, .has-float-label input:focus + label {
  transform: translate(0, 0) scale(1);
}

.button-one-style {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  width: auto;
  transition: 0.5s;
}

.button-one-style:hover {
  transform: scale(1.1);
}

.button-margin {
  margin-right: 20px;
  margin-bottom: 10px;
}

.button-style-two {
  background-color: white;
  border: 1px solid black;
  color: Black;
  outline: 0;
  padding: 0.5rem 1.2rem;
  border-radius: 0.475rem;
}
.button-style-two p {
  text-align: center;
  margin-bottom: 0;
}

.button-style-two:hover {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.button-style-two-selected {
  background-color: #3be138;
  border: 1px solid #3be138;
}

.button-large-square {
  background-color: white;
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 4px #b2b2b2;
  position: relative;
}
.button-large-square .button-large-square-link {
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.button-large-square button {
  background-color: inherit;
  border: none;
  height: 100%;
  width: 100%;
}

.table-style-one-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #b2b2b2;
}

.table-style-one-top-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem 2.25rem;
}

.table-style-one-search-bar {
  background-color: #f9f9f9;
  border-color: #f9f9f9;
  border-radius: 0.475rem;
  border: none;
  color: #4B5675;
  box-shadow: none;
  padding: 0.775rem 1rem;
}

.table-style-one-search-bar:focus {
  background-color: #e9e9e9;
  outline: none;
}

.table-style-one-button {
  background-color: #3E97FF;
  color: #ffffff;
  outline: 0;
  padding: 0.775rem 1rem;
  border-radius: 0.475rem;
  border: none;
}

.table-add-course-btn:hover {
  background-color: #73b1f7;
}

.table-style-one {
  padding: 0.5rem;
}
.table-style-one table {
  display: table;
  width: 100%;
}
.table-style-one tr {
  display: table-row;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #F1F1F2;
}
.table-style-one thead th {
  color: #cbcbd5;
}
.table-style-one tbody td {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #78829d;
}

.table-style-one-link {
  text-decoration: none;
}
.table-style-one-link p {
  margin-bottom: 0;
  text-decoration: none;
  color: #252F4A;
  font-weight: 600;
}
.table-style-one-link p:hover {
  color: #4067e6;
  transition: color 0.2s;
}

.table-style-one-dropdown {
  background-color: #f9f9f9;
  border: none;
  padding: 0.35rem;
  border-radius: 5px;
}

.background {
  background-color: #f2f2f2;
}

.user-container {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  height: 90vh;
  background-color: #6e6e6e;
}

.user-content-container {
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 150px;
  margin-right: 15px;
  padding: 15px;
  width: 100%;
}

.screen-container {
  height: 80vh;
  width: 100vw;
}

.content-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
}

.login-screen-container {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.register-screen-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.screen-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.page-title {
  width: auto;
}

.center-items-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.item-container-style {
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 1px 4px #b2b2b2;
}

.score-card-input-table-container {
  padding: 20px;
  border-radius: 5px;
  background-color: #3d3d3d;
  width: 100%;
  margin-top: 30px;
}
.score-card-input-table-container table {
  width: 100%;
  background-color: #3d3d3d;
}
.score-card-input-table-container th {
  text-align: center;
  color: white;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.score-card-input-table-container td {
  text-align: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: white;
}
.score-card-input-table-container td input {
  width: 100%;
  border: none;
  background-color: grey;
  text-align: center;
  color: white;
}
.score-card-input-table-container td input:focus {
  background-color: white;
  outline: none;
  text-align: center;
  color: black;
}

.course-title h3 {
  padding: 15px;
}

.select-tee-box-card {
  background-color: #3d3d3d;
  border-radius: 5px;
  margin-top: 30px;
  padding: 20px;
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.select-tee-box-card p {
  margin-bottom: 0px;
  font-size: larger;
  color: rgb(255, 255, 255);
}
.select-tee-box-card p:hover {
  cursor: pointer;
}
.select-tee-box-card h3 {
  border-bottom: 1px solid black;
}

.tee-box-select-item {
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.tee-box-select-item p {
  font-size: larger;
}

.tee-box-select-item:hover {
  background-color: rgb(176, 176, 176);
  cursor: pointer;
}

.tee-box-button {
  background-color: #97BF04;
  width: 4rem;
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.tee-box-button p {
  margin-bottom: 0px;
}

.tee-box-button:hover {
  background-color: #558C03;
  cursor: pointer;
}/*# sourceMappingURL=app.css.map */