.header {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.header-title-container {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.header-filler-box {
  margin-left: 30px;
  width: 100px;
}

.header-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-settings {
  margin-right: 30px;
  width: 100px;
}

.header-pages-container {
  display: flex;
  justify-content: space-around;
}

.header-active {
  text-align: center;
  width: 160px;
  background-color: #f2f2f2;
  padding: 10px;
  height: 40px;
}
.header-active h6 {
  margin-bottom: 0;
  color: #4A4A4A;
}

.header-inactive {
  text-align: center;
  width: 160px;
  background-color: #ffffff;
  padding: 10px;
  height: 40px;
}
.header-inactive h6 {
  margin-bottom: 0;
  color: #BCBCBC;
}

.header-link {
  text-decoration: none;
}

.title-card {
  background-color: white;
  opacity: 0.9;
  align-items: center;
  max-width: -moz-fit-content;
  max-width: fit-content;
  border: 0.2rem;
  border-radius: 0.5rem;
  padding: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
}

.stat-card {
  background-color: white;
  max-width: 35vh;
  width: 35vh;
  min-height: 15vh;
  padding: 20px;
  background-color: white;
  opacity: 0.9;
  border-radius: 0.5rem;
  margin: 15px;
}
.stat-card h5 {
  text-align: center;
}
.stat-card h3 {
  text-align: center;
}

.course-booker-card {
  width: 18rem;
  margin-bottom: 2rem;
  margin-left: 15px;
}

.edit-hole-card {
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 15px;
  width: 200px;
}
.edit-hole-card input {
  width: 80px;
}

.input-label {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.course-list-item {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  width: auto;
  margin: 20px 20px 20px 20px;
  border-bottom: 2px solid #979797;
}
.course-list-item h3 {
  margin-left: 25px;
  margin-bottom: 0px;
  color: #4a4a4a;
}

.course-list-item:hover {
  border-color: #32c32f;
  transform: scale(1.02);
  transition: 0.5s;
}

.course-list-item-link {
  text-decoration: none;
}

.tee-list-item-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  width: auto;
  margin: 20px 20px 20px 20px;
  border-bottom: 2px solid #979797;
}
.tee-list-item-container h3 {
  margin: 0;
  width: 40vw;
}
.tee-list-item-container p {
  margin-bottom: 0;
}

.tee-list-item-container:hover {
  border-color: #32c32f;
  transform: scale(1.02);
  transition: 0.5s;
}

.tee-list-item-container-link {
  text-decoration: none;
  color: black;
}

.admin-list-item {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  width: auto;
  margin: 20px 20px 20px 20px;
  border-bottom: 2px solid #979797;
}

.admin-list-item:hover {
  border-color: #32c32f;
  transform: scale(1.02);
  transition: 0.5s;
}

.admin-list-item-container-link {
  text-decoration: none;
  color: black;
  width: auto;
}

.admin-user-list-item-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  margin: 40px;
  border-bottom: 2px solid #979797;
}
.admin-user-list-item-container .admin-user-list-item-small {
  width: 50px;
}
.admin-user-list-item-container div {
  width: 20vw;
}
.admin-user-list-item-container div p {
  color: black;
  margin-bottom: 0;
}

.admin-user-list-item-container:hover {
  border-color: #32c32f;
  transform: scale(1.02);
  transition: 0.5s;
}

.admin-user-list-item-header p {
  font-weight: bold;
}

.admin-user-profile-input-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.admin-user-profile-input-container label {
  margin-bottom: 10px;
}
.admin-user-profile-input-container input {
  padding-left: 15px;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 1px;
}

.admin-course-list-item-container {
  display: flex;
  align-items: center;
  padding-left: 30px;
  padding-bottom: 10px;
  margin: 40px;
  border-bottom: 2px solid #979797;
  text-decoration: none;
}
.admin-course-list-item-container .admin-course-list-item-small {
  width: 50px;
}
.admin-course-list-item-container div {
  width: 33vw;
}
.admin-course-list-item-container div p {
  color: black;
  margin-bottom: 0;
}

.admin-course-list-item-container:hover {
  border-color: #32c32f;
  transform: scale(1.02);
  transition: 0.5s;
}

.admin-course-list-item-header p {
  font-weight: bold;
}

.holeEditForm {
  display: flex;
  flex-wrap: wrap;
}

.admin-screen-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
}

.admin-content-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
}

.admin-user-list-screen-back-arrow-container {
  display: flex;
  margin-left: 30px;
  align-items: center;
}
.admin-user-list-screen-back-arrow-container p {
  margin-left: 10px;
  margin-bottom: 0;
}

.admin-user-list-screen-back-arrow-container:hover {
  transform: scale(1.02);
  transition: 0.5s;
}

.admin-user-list-screen-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.admin-user-list-content-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
}

.admin-user-list-screen-link {
  text-decoration: none;
}

.admin-user-profile-screen-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
}

.admin-user-profile-content-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
}

.admin-user-profile-screen-link {
  text-decoration: none;
}

.admin-user-profile-screen-submit {
  background-color: #32C32F;
  margin-bottom: 25px;
  border: 1px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  align-self: center;
  font-weight: bold;
}

.admin-courses-list-screen-content-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
}

.admin-course-list-screen-link {
  text-decoration: none;
}

.login-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 600px;
  align-self: center;
  border: 1px solid #979797;
  box-shadow: 2px 2px 8px grey;
}

.login-title-container {
  background-color: #D8D8D8;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

.login-title {
  color: #4A4A4A;
}

.login-form {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-input-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.login-input-container label {
  margin-bottom: 10px;
}
.login-input-container input {
  padding-left: 15px;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 1px;
}

.login-submit {
  background-color: #32C32F;
  margin-bottom: 25px;
  border: 1px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  align-self: center;
}

.login-link {
  width: 200px;
  align-self: center;
}

.login-create-account {
  background-color: #1F201F;
  color: #BFBFBF;
  margin-bottom: 25px;
  border: 1px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
}

.register-container {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  width: 600px;
  align-self: center;
  border: 1px solid #979797;
  box-shadow: 2px 2px 8px grey;
}

.register-title-container {
  background-color: #D8D8D8;
  width: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  display: flex;
  justify-content: space-between;
}

.register-title {
  color: #4A4A4A;
}

.register-form {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.register-input-container {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 40px;
}
.register-input-container label {
  margin-bottom: 10px;
}
.register-input-container input {
  padding-left: 15px;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
  border-width: 1px;
}

.register-create-account {
  background-color: #32C32F;
  margin-bottom: 25px;
  border: 1px;
  border-radius: 20px;
  width: 200px;
  height: 40px;
  align-self: center;
}

.register-link {
  width: 200px;
  align-self: center;
}

.play-golf-screen-container {
  display: flex;
  flex-direction: column;
  height: 80vh;
  width: 100vw;
}

.play-golf-screen-title {
  align-self: flex-end;
  text-align: center;
  margin-top: 30px;
}

.play-golf-screen-filter-options {
  display: flex;
}
.play-golf-screen-filter-options p {
  font-weight: bold;
  font-size: x-small;
  padding-left: 30px;
}

.select-tee-screen-title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.select-tee-screen-title-container h3 {
  margin-bottom: 0;
}

.select-tee-screen-back-arrow-container {
  display: flex;
  width: 150px;
  align-items: center;
}
.select-tee-screen-back-arrow-container p {
  margin-left: 10px;
  margin-bottom: 0;
}

.select-tee-link {
  text-decoration: none;
  color: black;
}

.empty-container {
  width: 150px;
}

.enter-score-screen-title-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 40px;
  margin-left: 20px;
  margin-right: 20px;
}
.enter-score-screen-title-container h3 {
  margin-bottom: 0;
}

.enter-score-screen-back-arrow {
  display: flex;
  width: 150px;
  align-items: center;
}

.enter-score-link {
  text-decoration: none;
  color: black;
}
.enter-score-link p {
  margin-bottom: 0;
  margin-left: 10px;
  text-transform: uppercase;
}

.background {
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-size: cover;
}

.screen-container {
  display: flex;
  height: 80vh;
}

.login-screen-container {
  display: flex;
  justify-content: center;
  height: 90vh;
}

.register-screen-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  justify-content: center;
}

.content-container {
  background-color: #ffffff;
  border-radius: 10px;
  margin-left: 15px;
  margin-right: 15px;
  padding: 15px;
}

.page-container {
  display: flex;
  flex-direction: column;
}

.card {
  background-color: white;
  opacity: 0.9;
  border: 0.2rem;
  border-radius: 0.5rem;
}

.link {
  text-decoration: none;
}

.formScoreInput {
  background-color: white;
  opacity: 0.9;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 20px;
  max-width: 35vh;
  margin: 15px;
}

.formScore {
  display: flex;
  flex-wrap: wrap;
}

.my-container {
  display: flex;
  flex-direction: column;
}

.my-second-container {
  display: flex;
  flex-wrap: wrap;
}

.holeEditForm {
  margin-top: 10px;
}

.form-button {
  border-radius: 0.5rem;
  transition: 0.4s;
  border-color: white;
  background-color: white;
  padding: 5px;
  margin-left: 10px;
}

.form-button:hover {
  background-color: green;
  color: white;
  padding: 8px;
}

.round-card {
  background-color: white;
  border-radius: 0.5rem;
  max-width: 400px;
  opacity: 0.9;
  padding: 15px;
  margin-bottom: 10px;
}

.round-card-title {
  text-decoration: none;
  text-decoration-style: none;
  color: black;
  transition: 0.01s;
}

.round-card-title:hover {
  text-decoration: underline;
  color: blue;
}

.score-card-hole {
  background-color: white;
  width: -moz-fit-content;
  width: fit-content;
}/*# sourceMappingURL=app.css.map */