// @import '/frontend/src/styles/utilities/variables' ;
@import './utilities/variables.scss';

@import './components/ScoreFormInput/ScoreFormInput' ;
@import './components/Header/Header' ;
@import './components/Title/Title' ;
@import './components/StatCard/StatCard';
@import './components/CourseBooker/CourseBooker';
@import './components/EditHoleCard/EditHoleCard';

@import './screens/AdminCourseHoleDetailsScreen/AdminCourseHoleDetailsScreen' ;

.background {
    // background-image: url('../images/golf-course-one.jpg');
    background-color: rgba($color: rgb(73, 151, 79), $alpha: 1.0);
    // background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    
}



.page-container {
    display: flex;
    flex-direction: column;
}

.card {
    background-color: $bg-color;    
    opacity: $opacity;    
    border: .2rem;
    border-radius: .5rem;
}

.link {
    text-decoration: none;
}

.formScoreInput {
    background-color: $bg-color;
    opacity: $opacity;
    display: flex;
    flex-direction: column;
    border-radius: $border-radius;
    padding: 20px;
    max-width: 35vh;
    margin: 15px;
}

.formScore {
    display: flex;
    flex-wrap: wrap;

}

.my-container {
    display: flex;
    flex-direction: column;
    
}
.my-second-container {
    display: flex;
    flex-wrap: wrap;
}


// Component Edit hole Card.scss

.holeEditForm {
    
    margin-top: 10px;
}

.form-button {
    border-radius: $border-radius;
    transition: 0.4s;
    border-color: white;
    background-color: white;
    padding: 5px;
    margin-left: 10px;
}

.form-button:hover {
    background-color: green;
    color: white;
    padding: 8px;
}


.round-card {
    background-color: white;
    border-radius: $border-radius;
    max-width: 400px;
    opacity: $opacity;
    padding: 15px;
    margin-bottom: 10px;
}

.round-card-title {
    text-decoration: none;
    text-decoration-style: none;
    color: black;
    transition: .01s;
    
}

.round-card-title:hover {
    text-decoration: underline;
    color: blue;
}



.score-card-hole {
    background-color: white;
    width:fit-content
}





