// @import '/frontend/src/styles/utilities/variables' ;

@import './utilities/variables.scss';

@import './components/ScoreFormInput/ScoreFormInput' ;
@import './components/Header/Header' ;
@import './components/HeaderAdmin/HeaderAdmin.scss';
@import './components/AdminSideHeader/AdminSideHeader.scss';
@import './components/Title/Title' ;
@import './components/StatCard/StatCard';
@import './components/CourseBooker/CourseBooker';
@import './components/EditHoleCard/EditHoleCard';
@import './components/CourseListItem/CourseListItem';
@import './components/TeeListItem/TeeListItem';
@import './components/AdminListItem/AdminListItem';
@import './components/AdminUserListItem/AdminUserListItem';
@import './components/AdminUserProfileInput/AdminUserProfileInput';
@import './components/AdminGolfCourseListItem/AdminGolfCourseListItem';
@import './components/EditTeeBoxes/EditTeeBoxes.scss';
@import './components/EditHoles/EditHoles.scss';
@import './components/EditTees/EditTees.scss';
@import './components/SideHeader/SideHeader.scss';

@import './screens/AdminCourseHoleDetailsScreen/AdminCourseHoleDetailsScreen' ;

@import './screens/AdminScreen/AdminScreen';
@import './screens/AdminUserListScreen/AdminUserListScreen';
@import './screens/AdminUserProfileScreen/AdminUserProfileScreen';
@import './screens/AdminGolfCourseListScreen/AdminGolfCourseListScreen';
@import './screens/AdminCourseInfoScreen/AdminCourseInfoScreen.scss';

@import './screens/LoginScreen/LoginScreen.scss';
@import './screens/RegisterScreen/RegisterScreen.scss';
@import './screens/PlayGolfScreen/PlayGolfScreen';
@import './screens/SelectTeeScreen/SelectTeeScreen';
@import './screens/EnterScoreScreen/EnterScoreScreen';

@import './utilities/Forms/FormOne/FormOne';
@import './utilities/Tables/TableOne/TableOne';
@import './utilities/Forms/FormOneInput/FormOneInput.scss';

@import './utilities/Buttons/ButtonOne/ButtonOne.scss';
@import './utilities/Buttons/ButtonStyleTwo/ButtonStyleTwo.scss';
@import './utilities/Buttons/ButtonAddNew/ButtonAddNew.scss';
@import './utilities/Tables/TableStyleOne/TableStyleOne.scss';

.background {
    background-color: #f2f2f2;
}

.user-container {
    display: flex;
    flex-direction: row;
    margin-top: 10vh;
    height: 90vh;
    background-color: #6e6e6e;
}

.user-content-container {
    border-radius: 10px;
    margin-top: 15px;
    margin-left: 150px;
    margin-right: 15px;
    padding: 15px;
    width: 100%;
}

.screen-container {
    height: 80vh;
    width: 100vw;
}

.content-container {
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
    
}
.login-screen-container {
    display: flex;
    justify-content: center;
    height: 90vh;

}
.register-screen-container {
    padding-top: 30px;
    padding-bottom: 30px;
    display: flex;
    justify-content: center;
}




.screen-content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.page-title {
    width: auto;
}

.center-items-column {
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.item-container-style {
    background-color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 4px #b2b2b2;
}


//ENTER SCORE SCREEN


.enter-score-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.enter-score-form-holes-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ffffff;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}



.enter-score-form-header {
    background-color: #ffffff;
    border-radius: 5px;
    height: 15vh;
    width: 50vw;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

.enter-score-form-header-item {
    width: 25%;
}

.enter-score-form {
    background-color: #ffffff;
    // height: 60vh;
    width: 50vw;
    border-radius: 5px;
    padding: 20px;

}


.enter-score-form-hole-info {
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        padding: 15px;
        margin-bottom: 0px;
    }
}

.enter-score-form-yards-and-par {
    p {
        margin-bottom: 0;
    }
}




.score-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;

}
.score-buttons-title {
    display: flex;
    align-items: center;
    p {
        margin-bottom: 0px;
    }
}


// SCORE BUTTON STYLE
.score-button-style {
    transition: .3s;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    p {
        margin-bottom: 0;
        color: black;
        text-align: center;
    }
}

.score-button-style:hover {
    cursor: pointer;
    background-color: black;
    border-color: #ffffff;
    p {
        color: white;
    }
}



.score-button-style-one {
    height: 40px;
    width: 40px;
    border: 4px double black;
    border-radius: 50%;

}

.score-button-style-three {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid black;
    background-color: #ffffff;
}

.score-button-style-four {
    height: 40px;
    width: 40px;
    background-color: #ffffff ;
    p {
        color: black;
    }
}

.score-button-style-five {
    height: 40px;
    width: 40px;
    border: 2px solid black;
}

.score-button-style-six {
    height: 40px;
    width: 40px;
    border: 4px double black;
}

.score-button-selected-style {
    background-color: #007bfd;
    border: none;
}

.score-button-selected-style:hover {
    background-color: #007bfd;
    border: none;
}

// END SCORE BUTTON STYLE



// END SCORE FORM INPUT




// BUTTON THREE
.button-style-three {
    background-color:white;
    border: 1px solid black;
    color: Black;
    outline: 0;
    padding: .5rem 1rem;
    border-radius: .475rem;

    p {
        text-align: center;
        margin-bottom: 0;
    }
}

.button-style-three:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: .3s;
}

.button-style-three-selected {
    background-color: #017bfe;
    border: 1px solid #017bfe;
}
// END BUTTON THREE


// PUTT BUTTON

.putt-buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.putt-buttons {
    display: flex;
}

.putt-button-style {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    p {
        margin-bottom: 0;
        color: rgb(97, 97, 97);
    }
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid rgb(97, 97, 97);
}

.putt-button-style:hover {
    background-color: black;    
    cursor: pointer;
    transition: .3s;
    p {
        color: white;
    }
}

.putt-button-selected-style {
    background-color: #007bfd;
    border: none;
    p {
        color: black;
    }
}

.putt-button-selected-style:hover {
    background-color: #007bfd;
    border: none;
}

// END PUTT BUTTON







// SCORE CARD INPUT TABLE

.score-card-input-table-container {
    padding: 20px;
    border-radius: 5px;
    background-color: #3d3d3d;
    width: 100%;
    margin-top: 30px;
    
    table {
        width: 100%;
        background-color: #3d3d3d;
        
    }
    

    th {
        text-align: center;
        color: white;
        padding-top: .5rem;
        padding-bottom: .5rem;
        
    }
    td {
        text-align: center;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: white;
        input {
            width: 100%;
            border: none;
            background-color: grey;
            text-align: center;
            color: white;
        }

        input:focus {
            background-color: white;
            outline: none;
            text-align: center;
            color: black;
        }
    }
}


// END SCORE CARD INPUT TABLE












// ENTER SCORE SCREEN

.course-title {
    h3 {
        padding: 15px;
    }
}

.select-tee-box-card {
    background-color: #3d3d3d;
    border-radius: 5px;
    margin-top: 30px;
    padding: 20px;
    // width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin-bottom: 0px;
        font-size: larger;
        color: rgb(255, 255, 255);
    }

    p:hover {
        cursor: pointer;
    }

    h3 {
        border-bottom: 1px solid black;
    }
}

.tee-box-select-item {
    // background-color: darkgreen;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
     p {
        font-size: larger;
     }
}

.tee-box-select-item:hover {
    background-color: rgb(176, 176, 176);
    cursor: pointer;
}


.tee-box-button {
    background-color: #97BF04;
    width: 4rem;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    p {
        margin-bottom: 0px;
    }
}
.tee-box-button:hover {
    background-color: #558C03;
    cursor: pointer;
}


// END ENTER SCORE SCREEN









