.header {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    width: 100vw;        
}


.header-title-container {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header-filler-box {
    margin-left: 30px;
    width: 100px;
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-settings {
    margin-right: 30px;
    width: 100px;
}


.header-pages-container {
    display: flex;
    justify-content: space-around;
}

.header-active {
    text-align: center;
    width: 160px;
    background-color: #f2f2f2;
    padding: 10px;
    height: 40px;
    

    h6 {
        margin-bottom: 0;
        color: #4A4A4A
    }
}

.header-inactive {
    text-align: center;
    width: 160px;
    background-color: #ffffff;
    padding: 10px;
    height: 40px;
    

    h6 {
        margin-bottom: 0;
        color: #BCBCBC
    }
}

.header-link {
    text-decoration: none;
}