// Admin Side Header
.admin-side-header {
    
    background-color: black;
    width: 150px;
    height: 90vh;
    position: fixed;
    left: 0;
}

.admin-side-header-button {
    height: 50px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    p {
        color: rgb(188, 188, 188);
        text-align: center;
        margin-bottom: 0;
    }
}
.admin-side-header-button:hover {
    cursor: pointer;
    // background-color: #1c1c21;

    p{
        color: white;
        text-align: center;
    }
}

.admin-side-header-active {
    background-color: #1c1c21;
    p {
        color: white;
    }
}

.admin-side-header-link {
    text-decoration: none;
}

// End ADMIN SIDE HEADER