.admin-course-list-item-container {
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-bottom: 10px;
    margin: 40px;
    border-bottom: 2px solid #979797;
    text-decoration: none;

    .admin-course-list-item-small {
        width: 50px;
    }

    div {
        width:33vw;
         p {
            color: black;
            margin-bottom: 0;
         }
    }
}

.admin-course-list-item-container:hover  {
    border-color: #32c32f;
    transform: scale(1.02);
    transition: .5s;
}



.admin-course-list-item-header {
    
    p {
        font-weight: bold;
    }
}