$bg-color: white;
$opacity: .9;
$border-radius: .5rem;


$black-text: #4A4A4A;
$light-grey-text: #BCBCBC;
$green: #32C32F;


// COLOR Schemes
$primary: #558C03;
$secondary: #A1BF73;
$third-color: #83A638;
$fourth-color: #97Bf04;