main {
    min-height: 80vh;
    
}

.formModalBackground {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formModal {
    background-color: white;
    padding: 10vh;
    border-radius: 10px;
}

.modal-contnet {
    background-color: green;
}

.form-EditYards {
    display: flex;
    flex-wrap: wrap;
}

.edit-hole-card {
    background-color: white;
    margin-left: 15px;
    margin-bottom: 15px;
    padding: 15px;
    
}
