// .enter-score-screen-title-container {
//     display: flex;
//     justify-content: space-between;
//     margin-top: 30px;
//     margin-bottom: 40px;
//     margin-left: 20px;
//     margin-right: 20px;
    
//     h3 {
//         margin-bottom: 0;
//     }
// }

// .enter-score-screen-back-arrow {
//     display: flex;
//     width: 150px;
//     align-items: center;
// }

// .enter-score-link {
//     text-decoration: none;
//     color: black;

//     p {
//         margin-bottom: 0;
//         margin-left: 10px;
//         text-transform: uppercase;

//     }
// }